# ==========================
# Node.js / NestJS padrão
# ==========================

# Dependências
node_modules/

# Logs e cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.log/
.logs/
.cache/

# Compilação / Build
dist/
build/
coverage/

# ==========================
# Ambiente e Credenciais
# ==========================

# Variáveis de ambiente locais
.env
.env.*
!.env.example         # mantém um exemplo de variáveis de ambiente no repo

# Evitar subir configs locais específicas
.env.development.local
.env.test.local
.env.production.local

# ==========================
# IDE / Sistema Operacional
# ==========================

# VS Code
.vscode/

# JetBrains (WebStorm, IntelliJ, etc)
.idea/

# Mac / Linux / Windows temporários
.DS_Store
Thumbs.db

# ==========================
# Outros opcionais
# ==========================

# Arquivos de teste temporários
*.spec.ts.snap
*.tmp
